<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="aedc67">  <td>20/01/06 23:40:29</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;ChangeCityTest.discontinueBrowser()[pri:0, instance:ChangeCityTest@520a3426]">&lt;&lt;discontinueBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1325808650</td>   <td></td> </tr>
<tr bgcolor="aedc67">  <td>20/01/06 23:40:21</td>   <td>-7871</td> <td>&nbsp;</td><td title="&gt;&gt;ChangeCityTest.initBrowser()[pri:0, instance:ChangeCityTest@520a3426]">&gt;&gt;initBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1325808650</td>   <td></td> </tr>
<tr bgcolor="aedc67">  <td>20/01/06 23:40:24</td>   <td>-4779</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChangeCityTest.selectionCityTest()[pri:0, instance:ChangeCityTest@520a3426]">selectionCityTest</td> 
  <td>main@1325808650</td>   <td></td> </tr>
</table>
